

<style>
.pagination a, .pagination span {
    padding: 6px 14px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
    font-size: 12px;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
</style>

{% if paginator.total_pages > 1 %}
<footer class=""site-footer h-card">
      <div class="wrapper">


        <div class="pagination">
            <ul>
                {% if paginator.previous_page %}
                    {% if paginator.previous_page_path == '/' %}
                        <span ><a href="{{ site.baseurl }}">&lt&lt</a></span>
                    {% else %}
                        <span ><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&lt&lt</a></span>
                    {% endif %}
                {% else %}
                    <span class="disabled">&lt&lt</span>
                {% endif %}

                {% for counter in (1..paginator.total_pages) %}
                    {% comment %}
                        Special case: page1 will be the index page, so the link has to be generated manually
                    {% endcomment %}

                    {% if counter == 1%}
                        {% if counter == paginator.page %}
                            <span >{{ counter }}</span>
                        {% else %}
                            <span ><a href="{{ site.baseurl }}">{{ counter }}</a></span>
                        {% endif %}
                    {% else %}
                        {% if counter == paginator.page %}
                            <span >{{ counter }}</span>
                        {% else %}
                            <span ><a href="{{ site.baseurl }}/posts/page{{ counter }}">{{ counter }}</a></span>
                        {% endif %}
                    {% endif %}

                {% endfor %}

                {% if paginator.next_page %}
                    <span ><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">&gt&gt</a></span>
                {% else %}
                    <span class="disabled">&gt&gt</span>
                {% endif %}
                </ul>
        </div>
      </div>
    </footer
{% endif %}